* {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

.nav-menu {
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 100%;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-menu img {
  height: 4em;
}

.burger {
  width: 35px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 7%;
  right: 3%;

}

.burger span {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.683);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;

}

.burger span::before,.burger span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.891);
  transition: transform 0.5s ease-in-out;

}

.burger span::before {
  transform: translateY(-10px);

}

.burger span::after {
  transform: translateY(10px);
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotateZ(45deg);

}

.burger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.burger {
  display: none;
}

.nav-menu a {
  color: rgba(255, 255, 255, 0.893);
  font-size: 20px;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.nav-menu .nav-link ul {
  display: flex;
}

.nav-menu .nav-link li {
  margin: 0 25px;

}

.nav-link {
  margin-left: -100%;
}

@media screen and (max-width:800px) {

  .nav-link {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(242, 229, 242, 0.457);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .nav-link.mobile-menu {
    margin-left: 0;
    z-index: 1;
  }

  .nav-menu .nav-link ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu .burger {
    display: block;
    margin-top: -1em;
    z-index: 1;
  }

  .nav-menu .nav-link li {
    margin: 25px 0;
    font-size: 1.5em;
  }

  .nav-menu img {
    height: 3em;
  }
  .nav-menu a {
    color: rgba(0, 0, 0, 0.893);
    font-size: 25px;
    font-weight: bold;
  }
}

/* ------------------------------ SECTION 1 HOME --------------------------------- */
.welcome-section {
  margin-bottom: 50px;
}

h2,h3,.video-wrapper,.resume {
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-size: 2em;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

h3 {
  margin-top: 50px;
  font-size: 1.5em;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.resume {
  margin-top: -20px;
  font-size: 1.4em;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.affiche {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 350px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
  animation: scale-in-hor-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ---------------------------- SECTION 2 PERSONNAGES -----------------------------------*/
.character-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-select {
  margin-bottom: 20px;
}

#character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#character-info p {
  font-size: 16px;
  margin: 5px 0;
}

.images {
  width: 100%;
}

.mer {
  display: block;
  height: 300px;
  width: 100%;
  animation: scale-in-hor-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.sunny {
  height: 15em;
  margin-bottom: -10em;
  animation: scale-in-hor-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media only screen and (max-width: 768px) {
  .sunny {
    height: 10em;
    margin-top: 1em;
    margin-bottom: -5em;
  }
  .sunny2 {
    height: 10em;
    margin-right: 80em;
    margin-bottom: -5em;
  }

  .mer {
    display: block;
    height: 150px;
    width: 100%;
  }
  h1,h2,h3 {
    font-size: 2em;
  }

  .resume {
    font-size: 1.2em;
  }
}

/* ------------------------------------ SECTION 3 SHOP -------------------------------------------- */
.shop,h1 {
  text-align: center;
  animation: rotate-in-hor 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 40%;
  height: 50%;
}

.price {
  font-weight: bold;
  margin-top: 10px;
}

.add-to-cart {
  display: block;
  margin-top: 10px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 10em;
}

.add-to-cart:hover {
  background-color: #006B9F;
}

@media only screen and (max-width: 767px) {
  .grid-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .item {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .item {
    width: 31%;
    margin-bottom: 20px;
  }
}

.sunny2 {
  height: 10em;
  margin-top: 1em;
  margin-right: 80%;
  margin-bottom: -7em;
  animation: scale-in-hor-left 10s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.mer2 {
  display: block;
  height: 200px;
  width: 100%;
  animation: scale-in-hor-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ---------------------------- SECTION 4 CONTACT ------------------------- */

.form-section {
  background-image: url("images/one-piece-personnage.jpg");
  background-size: cover;
  background-position: center;
  height: 50em;
  animation: rotate-in-hor 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.form-container {
  padding: 13.45em;
  background-color: rgba(255, 255, 255, 0.8);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10em;
  padding: 30px;
}

label {
  font-size: 2.2em;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #0052a3;
}

@media only screen and (max-width: 767px) {
  form {
    margin-top: -5em;
    padding: 0px;
  }
  .form-container {
    /* padding: 12.8em; */
    padding: 14.3em;
  }
  label {
  font-size: 1.3em;
  margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .form-container {
    padding: 15em;
  }
  label {
  font-size: 1.3em;
  margin-bottom: 10px;
  }

}
/* ------------------------------ FOOTER ----------------------------------*/
footer {
  background-color: #404040;
  color: #fff;
  padding: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* -------------------------------------------ANIMATION-------------------------- */
 /* TEXT */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/* VIDEO ET BATEAU */ 
@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
/* ----------- GRID ----------------*/
@-webkit-keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
