*{
  text-decoration: none;
  list-style: none;
}
body {
   margin: 0;
   padding: 0;
}

.nav-menu {
  background-color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}
 .nav-menu img {
  height: 4em;
} 
.title {
  margin-right: 30em;
} 

.burger {
  width: 35px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 7%;
  right: 3%;

}

.burger span {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.683);
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;

}

.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.891);
  transition: transform 0.5s ease-in-out;

}

.burger span::before {
  transform: translateY(-10px);

}

.burger span::after {
  transform: translateY(10px);
}

.burger.active span {
  background-color: transparent;
}

.burger.active span::before {
  transform: translateY(0px) rotateZ(45deg);

}

.burger.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.burger {
  display: none;
}

.nav-menu {

  padding: 3em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.nav-menu a {
  color: rgba(255, 255, 255, 0.893);
  font-size: 20px;
}

.nav-menu .nav-link ul {
  display: flex;
}
.nav-menu .nav-link li {
  margin: 0 25px;

}
.nav-link {
  margin-left: -100%;
}

@media screen and (max-width:800px) {

  .nav-link {
      display: none;
      top: 0;
      left: 0;
      position: absolute;
      background-color: rgba(242, 229, 242, 0.457);
      backdrop-filter: blur(7px);
      width: 100%;
      height: 100vh;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease;
  }
  .nav-link.mobile-menu {
      margin-left: 0;
  }
  .nav-menu .nav-link ul {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .nav-menu .burger {
      display: block;
      margin-top: -1em;
  }
  .nav-menu .nav-link li {
      margin: 25px 0;
      font-size: 1.5em;
  }
  .nav-menu img {
    height: 3em;
    margin-left: -35px;
  } 
}

/* ------------------------------ SECTION 1 --------------------------------- */
h1 {
  text-align: center;
  color: white;
}
 .welcome-section {
  margin-bottom: 50px;
}
h2, h3,.video-wrapper, .resume {
  text-align: center;
}
h2 {
  margin-bottom: 30px;
  font-size: 2em ;
}
h3 {
  margin-top: 50px;
  font-size: 1.5em;
}
.resume {
  margin-top: -20px;
  font-size: 1.4em;
}

.affiche {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 350px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
}

/* ---------------------------- SECTION 2 -----------------------------------*/ 
.character-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-select {
  margin-bottom: 20px;
}

#character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#character-info p {
  font-size: 16px;
  margin: 5px 0;
}
.images {
  width: 100%;
}
.mer {
  height: 300px;
  width: 100%;
}
.sunny {
  height: 15em;
  margin-bottom: -10em;
}

@media only screen and (max-width: 768px) {
  .sunny {
    height: 10em;
    margin-top: 1em;
    margin-bottom: -10em;
  }
  h1,h2, h3 {
    font-size: 2em;
  } 
  .resume {
    font-size: 1.2em;
  }
}