body {
  margin: 0;
  padding: 0;
  cursor: url('/images/fruit-du-demon-.png'), auto;
}

nav {
  background-color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;

}

h1 {
  text-align: center;
  color: white;
}

.navbar-logo img {
  height: 5em;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.navbar-burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  cursor: pointer;
}

.navbar-burger span {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-burger {
    display: flex;
  }

  .navbar-burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-burger.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-burger:hover span {
    background-color: #333;
  }

  .navbar-burger.active:hover span {
    background-color: white;
  }

  .navbar-burger.active:hover span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-burger.active:hover span:nth-child(2) {
    opacity: 0;
  }

  .navbar-burger.active:hover span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .navbar-menu {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 999;
  }

  nav.active .navbar-menu ul {
    flex-direction: column;
  }

  nav.active .navbar-menu li {
    margin: 10px 0;
  }
  
  nav.active .navbar-menu a {
    color: white;
  }
  h2, h3, .resume {
    font-size: 1em;
  }
}
/* ------------------------------ SECTION 1 --------------------------------- */
.welcome-section {
  margin-bottom: 50px;
}
h2, h3,.video-wrapper, .resume {
  text-align: center;
}
h2 {
  margin-bottom: 30px;
  font-size: 2em ;
}
h3 {
  margin-top: 50px;
  font-size: 1.5em;
}
.resume {
  margin-top: -20px;
  font-size: 1.4em;
}

.affiche {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 350px;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 90%;
}

/* ---------------------------- SECTION 2 -----------------------------------*/ 
.character-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-select {
  margin-bottom: 20px;
}

#character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#character-info p {
  font-size: 16px;
  margin: 5px 0;
}
.images {
  width: 100%;
}
.mer {
  height: 300px;
  width: 100%;
}
.sunny {
  height: 15em;
  margin-bottom: -10em;
}

@media only screen and (max-width: 768px) {
  .sunny {
    height: 10em;
    margin-top: 1em;
    margin-bottom: -10em;
  }
}

